{erl_opts, [
    debug_info,
    {feature, maybe_expr, enable}
]}.

{deps, [
    {hb,
        {git, "https://github.com/permaweb/HyperBEAM.git",
            {ref, "4177b91993b2f590f4906bc9ca548724f8408875"}}}
]}.

{plugins, [
    {plugin,
        {git_subdir, "https://github.com/permaweb/HyperBEAM.git",
            {ref, "4177b91993b2f590f4906bc9ca548724f8408875"},
            "src/forge"}}
]}.

{shell, [{apps, [hb]}]}.

{eunit, [{apps, [hb]}]}.

{alias, [
    {'eunit-all', [{device, "test --with-core"}]}
]}.
